{#<!DOCTYPE html>#}
{#<html lang="en">#}
{#<head>#}
{#    <meta charset="UTF-8">#}
{#    <title>Title</title>#}
{#</head>#}
{#<body>#}
{##}
{#<a href="/tpviewp">view profile</a><br>#}
{#<a href="/detectmask">View mask violation</a><br>#}
{#<a href="/viol">Add Offence</a><br>#}
{#<a href="/viewv">View Offence</a><br>#}
{#<a href="/tpviewf">view fine</a><br>#}
{##}
{#</body>#}
{#</html>#}

{% extends "tp_dash.html" %}
{% block body %}
    <div align="center"> <img src="/static/a.jpg" height="300" width="600"/></div>
{% endblock %}