{#<!DOCTYPE html>#}
{#<html lang="en">#}
{#<head>#}
{#    <meta charset="UTF-8">#}
{#    <title>Title</title>#}
{#</head>#}
{#<body>#}
{##}
{#<a href="/t">add traffic police</a><br>#}
{#<a href="/manag">view traffic police </a><br>#}
{#<a href="/v">view user</a><br>#}
{#<a href="/facemask">view face mask violation</a><br>#}
{#<a href="/complaint">view complaints</a><br>#}
{#<a href="/cam">add camera </a><br>#}
{#<a href="//manag">view camera</a><br>#}
{#<a href="/fine">fine genertion</a><br>#}
{#<a href="/viewf">view fine </a><br>#}
{#<a href="/adviewv">view Offence </a><br>#}
{#</body>#}
{#</html>#}
{% extends "admin_dash.html" %}
{% block body %}
    <div align="center"> <img src="/static/a.jpg" height="300" width="600"/></div>
{% endblock %}