{#<!DOCTYPE html>#}
{#<html lang="en">#}
{#<head>#}
{#    <meta charset="UTF-8">#}
{#    <title>Title</title>#}
{#</head>#}
{#<body>#}
{##}
{#<a href="/uprofile">view profile</a><br>#}
{#<a href="/viewmv">View mask violation</a><br>#}
{#<a href="/sc">Send Complaint</a><br>#}
{#<a href="/viewreply">View Reply</a><br>#}
{#<a href="/adh">Adhaaar Linking</a><br>#}
{#<a href="/uviewv">view Offence </a><br>#}
{#</body>#}
{#</html>#}


{% extends "user_dash.html" %}
{% block body %}
    <div align="center"> <img src="/static/a.jpg" height="300" width="600"/></div>
{% endblock %}