{% extends "user_dash.html" %}
{% block body %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body><form action="" method="get"><table class="table table-striped" width="286" border="1">
    <tr>
      <th width="12" scope="row">#</th>
      <td width="58">Violation </td>
      <td width="65">Penalty</td>


    </tr>
    {% for i in data %}
    <tr>
      <th scope="row">&nbsp;{{ loop.index }}</th>
      <td>{{ i['violation'] }}</td>
      <td>{{ i['penalty'] }}</td>


    <tr>
    {% endfor %}

  </table>
  <br />
</form>
</body>
</html>
{% endblock %}